<ion-card (click)="showArticle(article.id)" *ngFor="let article of articles | orderBy: publishedAt | filterBy: articleFilter | filterBy: articleTextFilter" class="ion-text-left">
  <ion-card-header>
    <ion-card-title color="dark">{{article.title | titlecase}}</ion-card-title>
    <ion-card-subtitle color="primary">{{article.source}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-text>{{ (article.content.length > 175) ? (article.content | slice:0:175) + '...' : (article.content) }}</ion-text>
    <ion-card-subtitle class="ion-text-right ion-margin-top">{{article.publishedAt | timeAgo}}</ion-card-subtitle>
  </ion-card-content>  
</ion-card>

<ion-card *ngIf="!(articles | filterBy: articleFilter | filterBy: articleTextFilter).length" class="ion-text-left no-records">
  <ion-card-content>
    <ion-text color="danger">No records found</ion-text>
  </ion-card-content>
</ion-card>