<ion-card (click)="showArticle(article.id)" *ngFor="let article of articles | orderBy: publishedAt" class="ion-text-left">
  <ion-card-header>
    <ion-card-title>
      {{article.source}}
    </ion-card-title>
    <ion-card-subtitle>
      {{article.publishedAt | timeago}}
    </ion-card-subtitle>
  </ion-card-header>    
  <ion-card-content>
    {{article.title}}
  </ion-card-content>  
</ion-card>

<ion-card *ngIf="!articles.length" class="ion-text-left no-records">
  <ion-card-content>No records found</ion-card-content>
</ion-card>