.no-records{
    color:red;
}
ion-card{
    background-color:  #f2f2f2 ;

    ion-card-content{

        ion-card-subtitle{
            text-align: right;
            margin-top: 1em;
        }
    }
}