<app-categories-menu></app-categories-menu>
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      My Feed
    </ion-title>    
    <ion-buttons slot="end">
      <ion-menu-button color="light"><ion-icon name="options-outline"></ion-icon></ion-menu-button>   
    </ion-buttons>  
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="medium">
  <ng-container id="container">
    <app-post-list-wrapper [posts]="posts"></app-post-list-wrapper>
  </ng-container>  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="newPost()" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>