<app-categories-menu (setCategoryEvent)='setFilterCategory($event)' [posts]="posts"></app-categories-menu>
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      My Feed
    </ion-title>    
    <ion-buttons slot="end">
      <ion-menu-button color="light"><ion-icon name="options-outline"></ion-icon></ion-menu-button>   
    </ion-buttons>  
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="medium">
  <div id="container">
    <ion-searchbar showCancelButton="never" (ionChange)="setFilterSearch($event)" color="light"></ion-searchbar>
    <app-post-list [posts]="posts" (needReloadEvent)="loadPosts()"></app-post-list>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="newPost()" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>